/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* already here */
/* line 18, ../sass/screen.scss */
h1, h2, h3, p, li, span {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 100;
}

/* line 23, ../sass/screen.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 30, ../sass/screen.scss */
.nav {
  width: 100%;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
  position: fixed;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 40, ../sass/screen.scss */
.nav ul {
  width: 450px;
  float: right;
}
/* line 45, ../sass/screen.scss */
.nav li {
  font-size: 18px;
  list-style-type: none;
  display: inline-block;
  color: white;
  margin-right: 15px;
}
/* line 53, ../sass/screen.scss */
.nav a {
  text-decoration: none;
}

/* line 57, ../sass/screen.scss */
.sticky {
  background: #5B4954;
}

/* line 61, ../sass/screen.scss */
.intro {
  background-image: url("../images/heymidi-dark.jpg");
  background-repeat: none;
  background-size: cover;
  height: 800px;
  width: 100%;
}
/* line 68, ../sass/screen.scss */
.intro h1 {
  font-size: 70px;
  color: white;
  text-align: center;
}
/* line 73, ../sass/screen.scss */
.intro img {
  width: 300px;
  margin: 0 auto;
  display: block;
  padding-top: 80px;
}

/* line 82, ../sass/screen.scss */
.offerings {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #FBFCFC;
}
/* line 88, ../sass/screen.scss */
.offerings .spaceLeft {
  margin-left: 10%;
}
/* line 91, ../sass/screen.scss */
.offerings .spaceRight {
  margin-right: 10%;
}
/* line 94, ../sass/screen.scss */
.offerings h3 {
  font-size: 23px;
  color: #2fb7c5;
  padding-bottom: 5px;
}
/* line 99, ../sass/screen.scss */
.offerings span {
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 24px;
  color: #323232;
}

/* line 107, ../sass/screen.scss */
.title {
  font-size: 50px;
  color: #2fb7c5;
  text-align: center;
  padding-bottom: 50px;
}

/* line 114, ../sass/screen.scss */
.row-one {
  width: 90%;
  margin: 0 auto;
}

/* line 119, ../sass/screen.scss */
.row-two {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}

/* line 124, ../sass/screen.scss */
.offer {
  float: right;
  width: 45%;
  min-width: 200px;
}

/* line 129, ../sass/screen.scss */
.offer-icon {
  float: left;
  width: 180px;
}

/* line 134, ../sass/screen.scss */
.services {
  width: 45%;
  min-width: 400px;
}

/* line 147, ../sass/screen.scss */
.process {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
/* line 153, ../sass/screen.scss */
.process h3 {
  font-size: 23px;
  color: #2fb7c5;
  margin-top: 20px;
  margin-bottom: 10px;
}
/* line 159, ../sass/screen.scss */
.process li {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 24px;
  color: #323232;
}

/* line 167, ../sass/screen.scss */
.step-icon {
  width: 160px;
  height: 160px;
  border: 8px solid #2fb7c5;
  border-radius: 50%;
  margin: 0 auto;
}

/* line 174, ../sass/screen.scss */
.step {
  width: 20%;
  float: left;
  margin-left: 80px;
  margin-right: 80px;
}

/* line 180, ../sass/screen.scss */
.center {
  margin: 0 auto;
  width: 90%;
}

/* line 187, ../sass/screen.scss */
.works {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 195, ../sass/screen.scss */
.works.blue-background {
  background-color: #2fb7c5;
}
/* line 198, ../sass/screen.scss */
.works.dark-background {
  background-color: #3e2b32;
}
/* line 201, ../sass/screen.scss */
.works.green-background {
  background-color: #b4c494;
}
/* line 204, ../sass/screen.scss */
.works h2 {
  font-size: 50px;
  color: white;
  padding-bottom: 20px;
}
/* line 209, ../sass/screen.scss */
.works span {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 24px;
  color: white;
  margin-bottom: 30px;
  display: block;
}

/* line 220, ../sass/screen.scss */
.about {
  width: 45%;
  min-width: 300px;
}

/* line 226, ../sass/screen.scss */
.profile {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #FBFCFC;
}
/* line 234, ../sass/screen.scss */
.profile h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
/* line 238, ../sass/screen.scss */
.profile span {
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}

/* line 246, ../sass/screen.scss */
.contact {
  background-image: url("../images/social.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center bottom;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 420px;
}
/* line 256, ../sass/screen.scss */
.contact h2 {
  font-size: 50px;
  color: #3E2B32;
  text-align: center;
}
/* line 262, ../sass/screen.scss */
.contact h3 {
  font-size: 30px;
  color: #3E2B32;
  text-align: center;
}
/* line 267, ../sass/screen.scss */
.contact h4 {
  font-weight: bold;
  padding-bottom: 20px;
  color: white;
}

/* line 274, ../sass/screen.scss */
.row {
  margin-top: 70px;
}

/* line 278, ../sass/screen.scss */
.contact-details {
  width: 33.33%;
  float: left;
}
/* line 282, ../sass/screen.scss */
.contact-details li {
  list-style-type: none;
  font-size: 20px;
  font-weight: 200;
  line-height: 28px;
  color: white;
}

/* line 291, ../sass/screen.scss */
.icon-row {
  margin-top: 100px;
}

/* line 294, ../sass/screen.scss */
.icon {
  margin-left: 20px;
  margin-right: 20px;
}

/* line 299, ../sass/screen.scss */
.right {
  float: right;
}

/* line 302, ../sass/screen.scss */
.left {
  float: left;
}

/* line 306, ../sass/screen.scss */
.clear {
  clear: both;
}
