$font-stack: 'Lato', 'Arial', sans-serif;
$font-color-primary: #323232;
$font-color-secondary: #ffffff;

$primary-color: #A4CBCF;	//blue
$secondary-color: #70686B;	//dark 
$tertiary-color: #B4C494;	//geen

$highlight: #1BBAC4; //bright blue

$section-padding: 50px;

//breakpoints
$bp-small : 40em;
$bp-med : 46.8em;
$bp-large : 58em;